[submodule "swms"]
	path = swms
	url = https://github.com/maruuusa83/arisan_swms.git
[submodule "tcp"]
	path = tcp
	url = https://github.com/maruuusa83/tcp.git
[submodule "RC4"]
	path = RC4
	url = https://github.com/maruuusa83/RC4.git
